.default {
  background-color:#82C7FF;
  color: #C70039;
}

.headerHome {
  display: flex;
  width: 100%;
  max-height: 20%;
  min-height: 5%;
  background-color:#54FDE3;
  color: #9D6CFF;
  align-items: center;
  justify-content: center;
}

.centerHome {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-height: 80%;
  max-width: 100%;
  min-height: 8%;
  min-width: 10;
}

.leftAreaHome{
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 20%;
}

.sobreMi{
  justify-content: middle;
}

.enlaces{
  justify-content: flex-start;
  
}

.rightAreaHome {
  display: flex;
  justify-content: center;
  flex-grow: 2;
  flex-shrink: 2;
}

.imageAdaptable {
  width: 100%;
  height:auto;
  margin: auto;
}

#footer {
  display: flex;
  width: 100%;
  background-color: #9D6CFF;
  color: #54FDE3;
  justify-content: left;
}
/*
.headerAreaPages {
  
}

.centerAreaPages {

}

.leftAreaPages {

}

.rightAreaPages {

}
*/